
@{
    ViewBag.Title = "Calculate";
}

<h2>Calculate</h2>
<div id="result">
    Total Salary is: @ViewBag.TotalSalary
    Remaining Periods: @ViewBag.RemainingPeriods
    Tax paid: @ViewBag.TaxPaid
    Total Tax Liability is: @ViewBag.RemainingPeriods
    Tax per month is: @ViewBag.TaxPerMonth
</div>

