
@{
    ViewBag.Title = "Calculate";
}

<h2>Calculate</h2>
<div id="result">
    <p id="resultind">
        Total Salary is: @ViewBag.TotalSalary
    </p>
    <br />
    
    <p id="resultind">
        Remaining Periods: @ViewBag.RemainingPeriods
    </p>
    <br />
    
    <p id="resultind">
    Tax paid: @ViewBag.TaxPaid
    </p>
    <br />
    
    <p id="resultind">
    Total Tax Liability is: @ViewBag.RemainingPeriods
    </p>
    <br />
    
    <p id="resultind">
        Tax per month is: @ViewBag.TaxPerMonth
    </p>
</div>

